/* ----- BROWSER ----- */

* {
margin: 0;
padding: 0;
}



/* ----- HTML ----- */

html {
    width: 100%;
    
}



/* ----- BODY ----- */
body {
    height: 2000px;
    width: 100%;
}



/* ----- Header ----- */

header{
    background-color: #000000;
    opacity: 0.8;
    width: 100%;
    height: 52px;
    position: fixed;
    z-index: 10;
}



/* ----- Menu ----- */

.menu ul{
    list-style-type: none;
    margin: 0 0 0 50px;
    padding: 0;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: #999997;
    text-align: center;
    padding: 14px 19px;
    text-decoration: none;
    border-top: 3px solid #ffffff00;
    border-bottom: 3px solid #ffffff00
}

.menu li a:hover {
    color: #fff;
    border-top: 3px solid #ffffff;
}



/* ----- Social ----- */

.social ul {
    list-style-type: none;
    margin: 0 50px 0 0px;
    padding: 0;
}

.social li {
    float: right;
}

.social li a {
    display: block;
    color: #999997;
    padding: 5px 19px;
    text-decoration: none;
    margin: 3px 0px;

}

.social li a:hover {
    background-color: #fff;
}



/* -------------------- MAIN -------------------- */

main {
    width: 100%;
}



/* ----- parallex ----- */
.container {
    position: relative;
    height: 800px;
}

.parallax { 
    position: absolute;
    background-image: url("https://drive.google.com/uc?id=1-uXr12a9uZ7kMH5tlDHrpDMhByB1-t4s");
    top: 0;
    height: 100%;
    width: 100%;
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* ----- logo ----- */

.logo {
    background-image: url("https://drive.google.com/uc?id=1-vaUshrslZ6TLw3eH_gF_om0jViyR98L");
    position: absolute;
    top: 0;
    width: 100%;
    height: 800px;
    background-attachment: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}